{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'months_menu.html.twig' %}
{% endblock %}

{% block title %}Détail du post{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <i>Publié le {{ post.created | date("d/m/Y") }} dans {{post.category.name}}</i>
    <p>{{ post.content }}</p>

    <h2>Commentaires</h2>
    <ul>
        {% for comment in post.comments %}
            <li>
                <p>{{ comment.pseudo }} a écrit : </p>
                <p>{{ comment.content }}</p>
            </li>
        {% endfor %}
    </ul>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}    
{% endblock %}